@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

html{
  height: 100%;
  background-color: #9cd8e2c4;
}

.body {
  margin: 0;
  padding: 0;
  min-height: 100vh;  /* Минимальная высота равна высоте вьюпорта */
  display: flex;  /* Использование flexbox для выравнивания контента */
  justify-content: center;  /* Горизонтальное выравнивание */
  align-items: center;  /* Вертикальное выравнивание */
  background-color: #5532d3c4;  /* Цвет фона body */
}

.container {
  width: 100%;  /* Ширина контейнера относительно родительского элемента */
  max-width: 1200px;  /* Максимальная ширина контейнера */
  margin: 100px auto;  /* Верхний и нижний отступ 100px, автоматическое центрирование по горизонтали */
  padding: 0 20px;  /* Внутренние отступы справа и слева */
  background-color: #32d3d3c4;  /* Цвет фона контейнера */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Тень вокруг контейнера для лучшего визуального выделения */
  border-radius: 10px;  /* Скругление углов контейнера */
}


/*Flash-сообщения*/

.flash {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  color: #333;
  background-color: #f2f2f2;
}

.flash.error {
  border-color: #e00;
  background-color: #fdd;
  color: #600;
}

.flash.warning{
  border-color: #e00;
  background-color: rgb(69, 139, 230);
  color: #600;
}


/**/

.header {
  top: 10px;
  right: 0; 
  width: auto; 
  position: fixed;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  z-index: 99;
  transition: 0.4s;
  flex-direction: row;
  padding: 10px 20px; 
}

.header__menu {
  background-color: rgba(5, 153, 37, 0.85);
  border-radius: 10px;
  transition: 0.4s;
  backdrop-filter: blur(10px);
  display: flex; 
}

.header__menu ul {
  display: flex; 
  padding: 0;
  margin: 0;
  align-items: center; 
}

.header__menu ul li {
  list-style: none; 
  padding: 10px; 
}

.header__menu ul li a {
  text-decoration: none;
  color: white; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu ul li a .icon {
  font-size: 1.5em; 
  margin-right: 5px; 
}

.header__menu ul li:hover {
  background-color: #04820b; 
}


/* Авторизация*/
.modal__box{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
  }
  
  .modal__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding: 45px;
    z-index: 1;
    transform: scale(0);
    transition: transform .4s;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 11px 18px 14px -2px rgba(34, 60, 80, 0.32);
  }
  
  .modal__content label{
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
    font-size: 20px;
    font-weight: bold;
  }
  
  .input__conteiner {
    margin: 10px 0;
    width: 200px;
  }
  
  #foggot__password{
    font-size: 20px;
    text-decoration: none;
  }
  
  #remember-me {
    margin-top: 10px;
  }
  
  .modal__content h2{
   text-align: center;
   color: black;
   margin: 10px 0px 20px;
   font-size: 25px;
  }
  
  #submit__btn{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: #aa7272e1;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  #register__btn{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: #aa7272e1;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  #close-btn{
    border-style: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: transparent;
  }
  
  .modal__content input[type="email"], input[type="password"], input[type="text"]{
    display: block;
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
  
  }
  
  .modal__content input[type="checkbox"]{
    margin-left: 5px;
  }
  
  .modal__content button img{
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    transition: .3s;
  }
  
  .modal__content button img:hover{
    width: 40px;
    height: 40px;
  
  }
  
  .modal__box.open {
    visibility: visible;
    opacity: 1;
  }
  
  .modal__box.open .modal__content {
    transform: scale(1);
  }
  
  
  /* Регистрация */
  
  .popup__register{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.25);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity .4s, visibility .4s;
  }
  
  .modal__register{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding: 45px;
    z-index: 1;
    transform: scale(0);
    transition: transform .4s;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 11px 18px 14px -2px rgba(34, 60, 80, 0.32);
  }
  
  .modal__register label{
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
    font-size: 20px;
    font-weight: bold;
  }
  
  
  #close-reg-btn{
    border-style: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: transparent;
  }
  
  .modal__register h2{
   text-align: center;
   color: black;
   margin: 10px 0px 20px;
   font-size: 25px;
  }
  
  .modal__register input{
    display: block;
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
  
  }
  
  .modal__register button img{
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    transition: .3s;
  }
  
  .modal__register button img:hover{
    width: 40px;
    height: 40px;
  
  }
  
  #reg_btn{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: #aa7272e1;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .popup__register.open {
    visibility: visible;
    opacity: 1;
  }
  
  .popup__register.open .modal__register {
    transform: scale(1);
  }


/* Добавление новости */

.form_news{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_news input{
  display: block;
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
}

.form_news textarea{
  width: 100%;
  height: 100px;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  resize: none;
}

#btn_add_news{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background-color: #aa7272e1;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
}

