{% extends 'base.html' %}

{% block title %}Добавить новость{% endblock %}

{% block content %}
<h1>Добавить новость</h1>
<div class="form_news">
    <form method="post">
        <input type="text" name="title" placeholder="Заголовок">
        <textarea name="intro_text" placeholder="Краткое описание" class="textarea small"></textarea>
        <textarea name="full_text" placeholder="Полный текст" class="textarea large"></textarea>
        <button type="submit" id="btn_add_news">Опубликовать</button>
    </form>
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_news.css') }}">
{% endblock %}
