{% extends 'base.html' %}

{% block title %} Транзакции {% endblock %}

{% block content %}
    <h1>История транзакций</h1>
    <div class="transactions_container">
        {% for transaction in transactions %}
            <div class="transaction">
                <p>Номер транзакции: {{ transaction.id }}</p>
                <p>ID пользователя: {{ transaction.user_id }}</p>
                <p>Сумма: {{ transaction.amount }}</p>
                <p>Дата: {{ transaction.date }}</p>
                <p>Где была покупка: {{ transaction.payment_point.name }} - {{ transaction.payment_point.location }}</p>
            </div>
        {% endfor %}
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/transactions.css') }}">
{% endblock %}
