<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.jpg') }}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="burger-menu">
            <ion-icon name="menu-outline"></ion-icon>
        </div>        
        <nav class="header">
            <div class="header__logo">
                <a href="/"><img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Логотип"></a>
            </div>
            <div class="header__menu">
                <ul>
                    <li class="list">
                        <a href="/news">
                            <span class="icon">
                                <ion-icon name="newspaper-outline"></ion-icon>
                            </span>
                            <span class="text">Новости</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="/about">
                            <span class="icon">
                                <ion-icon name="help-outline"></ion-icon>
                            </span>
                            <span class="text">О нас</span>
                        </a>
                    </li>
                    {% if current_user.is_store %}
                        <li class="list">
                            <a href="/add_payment">
                                <span class="icon">
                                    <ion-icon name="storefront-outline"></ion-icon>
                                </span>
                                <span class="text">Добавить новую точку</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="/all_transactions">
                                <span class="icon">
                                    <ion-icon name="swap-vertical-outline"></ion-icon>
                                </span>
                                <span class="text">Все транзакции</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="/face-login">
                                <span class="icon">
                                    <ion-icon name="happy-outline"></ion-icon>
                                </span>
                                <span class="text">Режим оплаты</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="list">
                            <a href="/transactions">
                                <span class="icon">
                                    <ion-icon name="card-outline"></ion-icon>
                                </span>
                                <span class="text">Мои покупки</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="list">
                        <a href="/profile">
                            <span class="icon">
                                <ion-icon name="person-outline"></ion-icon>
                            </span>
                            <span class="text">Профиль</span>
                        </a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li class="list">
                            <a href="/logout" id="log-out">
                                <span class="icon">
                                    <ion-icon name="log-out-outline"></ion-icon>
                                </span>
                                <span class="text">Выход</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="list">
                            <a href="#" id="auth">
                                <span class="icon">
                                    <ion-icon name="person-add-outline"></ion-icon>
                                </span>
                                <span class="text">Регистрация/Авторизация</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if current_user.is_admin %}
                        <li class="list">
                            <a href="/add_news">
                                <span class="icon">
                                    <ion-icon name="paper-plane-outline"></ion-icon>
                                </span>
                                <span class="text">Добавь новость</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="/add_money">
                                <span class="icon">
                                    <ion-icon name="cash-outline"></ion-icon>
                                </span>
                                <span class="text">Начислить деньги</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="/add_payment">
                                <span class="icon">
                                    <ion-icon name="storefront-outline"></ion-icon>
                                </span>
                                <span class="text">Добавить новую точку</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>    
        {% block content %}{% endblock %}
    </div>
    <div class="modal__box" id="my-modal">
        <div class="modal__content">
            <button id="close-btn">
                <img src="{{ url_for('static', filename='images/cross.png') }}" alt="Закрыть">
            </button>
            <form action="/login" method="post" id="login-form">
                <h2>Авторизация</h2>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash {{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <label for="id_zachet">Номер зачетной книжки или email
                    <input type="text" id="id_zachet" placeholder="Номер зачетной книжки или email" name="id_zachet_login" class="input__conteiner">
                </label>
                <label for="password">Пароль
                    <input type="password" id="password_login" placeholder="Пароль" name="password_login" class="input__conteiner">
                </label>
                <label for="remember-me">Запомнить меня
                    <input type="checkbox" id="remember-me" name="remember-me">
                </label>
                <input type="submit" value="Войти" name="sign" id="submit__btn">
                <a href="/forgot_password" id="forgot_password">Забыли пароль?</a>
                <label for="register__btn">
                    <button type="button" id="register__btn">Зарегистрироваться</button>
                </label>
            </form>
        </div>
    </div>
    <div class="popup__register" id="reg__modal">
        <div class="modal__register">
            <button id="close-reg-btn">
                <img src="{{ url_for('static', filename='images/cross.png') }}" alt="Закрыть">
            </button>
            <form action="/register" method="post" id="register-form">
                <h2>Регистрация</h2>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash {{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <label for="email">Email
                    <input type="email" id="email_reg" placeholder="Почта" name="email_reg" class="input__conteiner">
                </label>
                <label for="id_zachet_reg">Номер зачетной книжки
                    <input type="number" id="id_zachet_reg" placeholder="Номер зачетной книжки" name="id_zachet_reg" class="input__conteiner">
                </label>
                <label for="pin_code">Придумайте защитный пинкод
                    <input type="number" id="pin_code" placeholder="Pincode" name="pin_code" class="input__conteiner">
                </label>
                <label for="password">Пароль
                    <input type="password" id="password_reg" placeholder="Пароль" name="password_reg" class="input__conteiner">
                </label>
                <label for="repeat_password">Повторите пароль
                    <input type="password" id="repeat_password" placeholder="Повторите пароль" name="repeat_password_reg" class="input__conteiner">
                </label>
                <button type="submit" name="sign" id="reg_btn">Зарегистрироваться</button>
            </form>
        </div>
    </div>
    <footer>
        <div class="faq">
            <button class="accordion">Ответы на часто задаваемые вопросы</button>
            <div class="panel">
                <ul>
                    <li>
                        <button class="accordion">Вопрос 1</button>
                        <div class="panel">
                            <p>Ответ на вопрос 1.</p>
                        </div>
                    </li>
                    <li>
                        <button class="accordion">Вопрос 2</button>
                        <div class="panel">
                            <p>Ответ на вопрос 2.</p>
                        </div>
                    </li>
                    <li>
                        <button class="accordion">Вопрос 3</button>
                        <div class="panel">
                            <p>Ответ на вопрос 3.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var accordions = document.getElementsByClassName("accordion");

            for (var i = 0; i < accordions.length; i++) {
                accordions[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        // Убедитесь, что scrollHeight доступен и правильно вычисляется
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
            }
        });
    </script>
</body>
</html>
