<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="shortcut icon" href="https://icons8.ru/icon/ckrjM2xjKegD/cash" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="header">
        <div class="header__menu">
            <ul>
                <li class="list">
                    <a href="/add_news">
                        <span class="icon">
                        <ion-icon name="newspaper-outline"></ion-icon></span>
                        <span class="text">Новости</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/about">
                        <span class="icon">
                        <ion-icon name="help-outline"></ion-icon></span>
                        <span class="text">О нас</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon">
                        <ion-icon name="hammer-outline"></ion-icon></span>
                        <span class="text">Услуги</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon">
                        <ion-icon name="card-outline"></ion-icon></span>
                        <span class="text">Мои покупки</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/profile">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <span class="text">Профиль</span>                           
                    </a>
                </li>
                {% if not current_user.is_authenticated %}
                <li class="list">
                    <a href="#" id="auth">
                        <span class="icon">
                            <ion-icon name="person-add-outline"></ion-icon>
                        </span>
                        <span class="text">Регистрация/Авторизация</span>                           
                    </a>
                </li>
                {% else %}
                <li class="list">
                    <a href="/logout" id="log-out">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="text">Выход</span>                           
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    </div>
    <div class="modal__box" id="my-modal">
        <div class="modal__content">
            <button id="close-btn">
                <img src="{{ url_for('static', filename='images/cross.png') }}" alt="Закрыть">
            </button>
            <form action="/login" method="post" id="login-form">
                <h2>Log in</h2>
                <label for="id_zachet">Номер зачетной книжки
                    <input type="number" id="id_zachet" placeholder="Номер зачетной книжки" name="id_zachet_login" class="input__conteiner">
                </label>
                <label for="password">Password
                    <input type="password" id="password_login" placeholder="Пароль" name="password_login" class="input__conteiner">
                </label>
                <label for="remember-me">Запомнить меня
                    <input type="checkbox" id="remember-me" name="remember-me">
                </label>
                <input type="submit" value="Войти" name="sign" id="submit__btn">
                <a href="#" id="foggot__password">Забыли пароль?</a>
                <label for="register__btn">
                    <button type="button" id="register__btn">Зарегистрироваться</button>
                </label>
            </form>
        </div>
    </div>
    <div class="popup__register" id="reg__modal">
        <div class="modal__register">
            <button id="close-reg-btn">
                <img src="{{ url_for('static', filename='images/cross.png') }}" alt="Закрыть">
            </button>
            <form action="/register" method="post" id="register-form">
                <h2>Register</h2>
                <label for="email">Email
                    <input type="email" id="email_reg" placeholder="Почта" name="email_reg" class="input__conteiner">
                </label>
                <label for="id_zachet_reg">Номер зачетной книжки
                    <input type="number" id="id_zachet_reg" placeholder="Номер зачетной книжки" name="id_zachet_reg" class="input__conteiner">
                </label>
                <label for="password">Password
                    <input type="password" id="password_reg" placeholder="Пароль" name="password_reg" class="input__conteiner">
                </label>
                <label for="repeat_password">Повторите пароль
                    <input type="password" id="repeat_password" placeholder="Повторите пароль" name="repeat_password_reg" class="input__conteiner">
                </label>
                <button type="submit" name="sign" id="reg_btn">Зарегистрироваться</button>
            </form>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>
</html>

