{% extends 'base.html' %}

{% block content %}
<div class="video-container">
    <video id="video" width="600" height="450" autoplay></video>
</div>
<div class="pay_amount">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post" action="/pay" class="payment-form"> 
        <input type="hidden" name="user_id" value=""> 
        <input type="text" name="amount_pay" placeholder="Введите сумму">
        <input type="text" name="pin_code" placeholder="Введите пин код">
        <button type="submit" id="pay_btn">Оплатить</button>
    </form>
</div>
<script defer src="{{ url_for('static', filename='js/face-api.min.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/faceRecognition.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/faceRecognition.css') }}">
{% endblock %}
