{% extends 'base.html' %}

{% block title %} Новости {% endblock %}

{% block content %}
    <h1>Новости</h1>
    <div class="news_container">
        {% for news in news %}
            <div class="news">
                <h2>{{ news.title }}</h2>
                <p>{{ news.intro_text }}</p>
                <p>{{ news.time.date() }}</p>
                <a href="/news/{{ news.id }}" class="more">Узнать больше</a>
                <hr>
            </div>
        {% endfor %}
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
{% endblock %}


