{% extends 'base.html' %}

{% block content %}
    <h1>Профиль</h1>
    <div class="wrapper">
        <div class="balance">
            <h2>Ваш баланс: 0</h2>
        </div>
        <div class="id">
            <h2>Ваш ID: 0</h2>
        </div>
    </div>
    <button id="start-recording">Начать запись</button>
    <script>
        const startRecordingButton = document.getElementById('start-recording');
        let mediaRecorder;
        let stream;

        async function startRecording() {
            stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: true });
            mediaRecorder = new MediaRecorder(stream);
            let chunks = [];

            mediaRecorder.ondataavailable = function(e) {
                chunks.push(e.data);
            };

            mediaRecorder.onstop = function(e) {
                const blob = new Blob(chunks, { 'type' : 'video/mp4' });
                chunks = [];
                const videoURL = URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = videoURL;
                a.download = 'recording.mp4';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(videoURL);
            };

            mediaRecorder.start();
            console.log("Запись началась");
        }

        startRecordingButton.addEventListener('click', () => {
            startRecording();
            startRecordingButton.setAttribute("disabled", true);
            setTimeout(() => {
                mediaRecorder.stop();
                stream.getTracks().forEach(track => track.stop());
                startRecordingButton.removeAttribute("disabled");
                console.log("Запись остановлена");
            }, 5000); // Запись останавливается через 5 секунд
        });
    </script>
{% endblock %}


