{% extends 'base.html' %}

{% block content %}
    <h1>Профиль</h1>
    <div class="wrapper">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="user-info">
            <div class="settings-button">
                <button class="settings-btn">
                    <ion-icon name="settings-outline" style="font-size: 24px;"></ion-icon>
                </button>
                <div class="settings-list">
                    <div class="settings-item"><a href="/ballance">Пополнить счет</a></div>
                    <!-- <div class="settings-item"><button id="start-recording">Начать запись</button></div> -->
                    <div class="settings-item"><button id="capture-snapshots">Захватить снимки</button></div>
                    <div class="settings-item"><a href="/forgot_password" id="change-password">Сменить пароль</a></div>
                    <div class="settings-item"><button id="change-pin">Сменить пинкод</button></div>
                </div>
            </div>
            <div class="user_avatar">
                <img src="{{ url_for('static', filename='images/avatar.png') }}" alt="Аватар пользователя">
            </div>
            <div class="email">
                <h2>Ваша почта: {{ current_user.email }}</h2>
            </div>
            <div class="balance">
                <h2>Ваш баланс: {{ current_user.balance }}</h2>
            </div>
            <div class="id">
                <h2>Ваш ID: {{ current_user.id_zachet }}</h2>
            </div>
            {% if current_user.is_store %}
            <div class="store">
                <h2>Ваш магазин:</h2>
                {% if store_points %}
                    <ul>
                        {% for point in store_points %}
                            <li>{{ point.name }} - {{ point.location }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="settings">
            <form method="post" action="/set_pincode" class="profile_form">
                <input type="text" name="password" placeholder="Введите пароль для смены пинкода">
                <input type="text" name="pin_code" placeholder="Введите пинкод">
                <button type="submit" class="button_add_money">Назначить пин</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uploadVideo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/captureAndSaveSnapshots.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <script>
        var userId = "{{ current_user.id_zachet }}"; 
    </script>
{% endblock %}
