{% extends "base.html" %}
{% block content %}
<form action="{{ url_for('regist') }}" method="post" id="register-form">
    {{ form.hidden_tag() }}
    <h2>Регистрация</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div>
        {{ form.email_reg.label }} {{ form.email_reg(class="input__container") }}
        {% for error in form.email_reg.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>
    <div>
        {{ form.id_zachet_reg.label }} {{ form.id_zachet_reg(class="input__container") }}
        {% for error in form.id_zachet_reg.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>
    <div>
        {{ form.pin_code.label }} {{ form.pin_code(class="input__container") }}
        {% for error in form.pin_code.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>
    <div>
        {{ form.password_reg.label }} {{ form.password_reg(class="input__container") }}
        {% for error in form.password_reg.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>
    <div>
        {{ form.repeat_password_reg.label }} {{ form.repeat_password_reg(class="input__container") }}
        {% for error in form.repeat_password_reg.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>
    <button type="submit" name="sign" id="reg_btn">Зарегистрироваться</button>
</form>


{% endblock content %}

